<<<<<<< HEAD <<<<<<< HEAD <<<<<<< HEAD * {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header footer {
    margin: 0 auto;
    width: 960px
}

nav {
    text-align: left;
    background-color: #a00;
}

nav ul,
footer ul {
    font-size: 20px;
    margin: 0;
    padding: 20px 10px;
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
}

a {
    color: white;
    text-decoration: none;
}

header li {
    list-style-type: none;
    display: inline;
}

header h1 {
    float: left;
}

section h1 {
    padding: 6px;
}

hr {
    border: none;
    clear: both;
}

a:hover {
    text-decoration: underline;
}

img:hover {
    border: 3px solid black;
}

.image-list {
    margin-left: 25px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 25px;
    padding: 0;
    text-align: center;
}

.image-list h6:hover {
    text-decoration: underline;
}

h6 {
    font-size: 20px;
}

.gallery-image {
    list-style: none;
    float: left;
    padding: 20px;
    width: 20%;
}

.list-item {
    float: left;
    display: block;
    padding: 15px;
    margin: 10px;
    margin-top: 5px;
    text-align-last: center;
}

li a {
    padding: 8px;
}

footer {
    text-align: left;
    background-color: #333;
}

footer li {
    list-style-type: none;
    display: inline;
}

footer h1 {
    float: left;
}

=======* {
    box-sizing: border-box;
}

>>>>>>> uagc-it-readiness/master=======* {
    box-sizing: border-box;
}

>>>>>>> uagc-it-readiness/master=======* {
    box-sizing: border-box;
}

>>>>>>> uagc-it-readiness/master