* {
    box-sizing: border-box
}

body {
    margin: 5px;
    padding: 0;
    text-align: center;
}

.cell {
    border: 1px solid black;
    background: lightgrey;
}

.features {
    text-align: left;
}

header {
    background-color: #57bc90;
    overflow: hidden;
}

.logo {
    margin-top: 4px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li a,
.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover,
.drop-down:hover .dropbtn {
    background-color: #333;
}

li .drop-down {
    display: inline-block;
}

.drop-down-content,
.drop-down-content2 {
    display: none;
    position: absolute;
    background-color: #D9853B;
    min-width: 160px;
}

.drop-down-content a,
.drop-down-content2 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.drop-down-content a:hover {
    background-color: #f1f1f1
}

.drop-down-content2 a:hover {
    background-color: #f1f1f1
}

.drop-down:hover .dropdown-content {
    display: block;
}

.drop-down:hover .dropdown-content2 {
    display: block;
}

.drop-down .drop-down-content,
.drop-down .drop-down-content2 {
    display: none;
    background: #015249;
}

.mobile-collapse {
    display: none;
}

.hero .col {
    height: 200px;
}


/* (mobile size=full screen
    tablet size=768px
    desktop size=992px)
    Rows - .row
    Col - .col
    Tablet - .md-33
            .md-66
            
            .md-50

            .md-25
            .md-75

*/

@media screen and (min-width:768px) {
    .row {
        clear: both;
        overflow: hidden;
    }
    .col {
        float: left;
        margin: 5px auto;
    }
    .md-33 {
        width: 33.33333333333%
    }
    .md-66 {
        width: 66.66666%
    }
    .md-50 {
        width: 50%;
    }
    .md-25 {
        width: 25%;
    }
    .md-75 {
        width: 75%;
    }
    .hero {
        width: 100%;
        margin: 5px auto;
    }
    .md-100 {
        width: 100%;
    }
    nav ul li {
        display: inline-block;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: inline-block;
    }
    li a,
    .dropbtn {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    li a:hover,
    .drop-down:hover .dropbtn {
        background-color: #333;
    }
    li.dropdown {
        display: inline-block;
    }
    .drop-down-content,
    .drop-down-content2 {
        display: none;
        position: absolute;
        background-color: #D9853B;
        min-width: 160px;
    }
    .drop-down-content a,
    .drop-down-content2 a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }
    .drop-down-content a:hover {
        background-color: #f1f1f1
    }
    .drop-down-content2 a:hover {
        background-color: #f1f1f1
    }
    .drop-down:hover .drop-down-content {
        display: block;
    }
    .drop-down:hover .drop-down-content2 {
        display: block;
    }
    button {
        display: none;
    }
    .mobile-collapse {
        display: block !important;
    }
    .drop-down .drop-down-content,
    .drop-down .drop-down-content2 {
        position: absolute;
    }
    section .features .row {
        margin: 5px auto;
    }
}

@media screen and (min-width:992px) {
    .lg-25 {
        width: 25%;
    }
    .lg-50 {
        width: 50%;
        clear: right;
    }
    nav > ul {
        float: right;
    }
    li {
        float: left;
    }
    .row {
        margin: 5px auto;
    }
    .callOuts {
        margin: 5px auto;
    }
    /*.row {
        clear: both;
        overflow: hidden;
    }
    .col {
        float: left;
    }
    .lg-33 {
        width: 33.33333333333%
    }
    .md-66 {
        width: 66.66666%
    }
    .md-50 {
        width: 50%;
    }
  
    .md-75 {
        width: 75%;
    }
  
    .hero {
        width: 100%
    }
      */
}